<nav>
    <div class="container">
    <header class="head">
    <h1 class="title">
        <a href="/home/index"><img src="/assets/새로고2.jpg"></a>
    </h1>
    </header>
    <div class="nav normal-font">
        <a href="/home/about">ABOUT</a>
        <a href="/home/artist">ARTISTS</a>
        <a style="width:110px;"href="/home/exhibition">EXHIBITIONS</a>
        <a href="/home/news">NEWS</a>
        <a href="/home/contact">CONTACT</a>
        <a href="/home/admin">ADMIN</a>
    </div>
    </div>
</nav>
