<div class="container" style="margin-top:60px;min-height:100vh;">
   <div class="main_title normal-font" >
        <h2 style="text-align:left;">Won's Art Gallery</h2>
   </div>
   <div class="about1">
       <p>유난히 무더웠던 여름이 가고 선선 쌀쌀한 시월, 정말 가을이 온 듯 합니다. 이 가을에 여러 작가님들의 결실을 모아 세 번째 상해아트페어 한국관을 주관하게 되었습니다.
세번쨰 상해 아트 페어는 첫 번째, 두 번째의 열정에 노련함과 완벽함이 더해져야 한다는 걱정이 있었습니다. 특히 이번 아트페어에 한국관은 중국과의 정치 경제적인 상황 때문에 더 좋은 모습을 보여주고 싶었습니다.</p>
   </div>
   <div class="about1_img">
       <img src="/assets/1.jpg">
   </div>
   <div class="sub_title normal-font">
         <h3 style="text-align:left;">Director  Rose Won</h3>
   </div>
   <div class="about1_img">
       <img src="/assets/10면1아트페어한국관0_(2).jpg">
   </div>
    <div class="about1">
       <p>유난히 무더웠던 여름이 가고 선선 쌀쌀한 시월, 정말 가을이 온 듯 합니다. 이 가을에 여러 작가님들의 결실을 모아 세 번째 상해아트페어 한국관을 주관하게 되었습니다.
세번쨰 상해 아트 페어는 첫 번째, 두 번째의 열정에 노련함과 완벽함이 더해져야 한다는 걱정이 있었습니다. 특히 이번 아트페어에 한국관은 중국과의 정치 경제적인 상황 때문에 더 좋은 모습을 보여주고 싶었습니다.</p>
   </div>
   <div class="sub_title normal-font">
         <h3 style="text-align:left;">HISTORY</h3>
   </div>
</div>