<div class="container" style="margin-top:60px;min-height:100vh;">
    <div class="admin_btn">
        <a href="/home/admin_artist">아티스트 관리</a>
    </div>
    <div class="admin_btn">
        <a href="/home/admin_exhibition">전시행사 관리</a>
    </div>
    <div class="admin_btn">
        <a href="/home/admin_news">뉴스 관리</a>
    </div>
    <div class="admin_btn">
        <a href="/home/admin_main">메인페이지 관리</a>
    </div>
</div>