<% if user_signed_in? %>
         <% if current_user.email == "admin@naver.com"%>
<div class="container" style="height:800px; margin-top:80px;">
    <div class="main_title normal-font">
        <h2 style="text-align:left;">메인페이지 관리</h2>
    </div>
    <div class="admin_subtitle">
    <a href="/home/main_write">새로 등록</a>
    </div>
<table class="table">
         <thead>
         <tr class="table_head_row">
         <th class="table_head_num">번호</th>
         <th class="table_head_day">등록일</th>
         <th class="table_head_day">삭제</th>
         </tr>
         </thead>
         <tbody>
              <% @main.each do |a|%>
              <tr class="table_con_row">
              <td class=""><%=a.id%></td>
              <td class=""><%= a.created_at.in_time_zone("Asia/Shanghai").strftime("%Y-%m-%d") %>일에 업로드</td>
              <td><a href="/home/main_destroy/<%=a.id%>"> 삭제</a></td>
              </tr> 
              <% end %>
         </tbody>
     </table>
     <div class="pagination_div"><%= will_paginate @main, :previous_label => t("<<"), :next_label => t(">>")%></div>
</div>
<% end %>
<% end %>