<div class="container" style="margin-top:60px;min-height:100vh;">
    <div class="sub_title normal-font">
        <h3>Shanghai</h3>
    </div>
    <div class="contact_content1">
        <p>Room 402, 1Building, No.1217, Wuzhong Road, Minhang Dist, Shanghai</p>
        <p>中国上海闵行区吴中路1217号1幢402室</p>
        <p>T : +86 21 2333 3233</p>
        <p>M : 156 1835 4157 (china)</p>
        <p>rose_mirgallery@naver.com</p>
    </div>
</div>